[Desktop Entry]
Name=1Password
Comment=Password manager and secure wallet
Exec=/opt/1Password/1password
TryExec=/opt/1Password/1password
Terminal=false
Type=Application
Icon=1password
StartupWMClass=1Password
Categories=Office;
X-GNOME-Autostart-enabled=true
